.layout{
    display: grid;
    grid-template-columns: 112px 1fr;
    height: 100vh;
    position: relative;
}

.main{
    width: 100% ;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    position: relative;
}