.svg_auto{
    width: 100%;
    height: calc(100% - 24px);
}
.flex_beetween{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.process{
    width: 100%;
    height: calc(100vh - 300px);
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    box-sizing: border-box;
}
.process .title{
    /* width: 100%; */
    height: 100%;
    position: absolute;
    left: 400px;
    top: 12px;
    z-index: 2;
}

.float_left{
    width: 200px;
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 2;
}

.process_item{
    width: 100%;
    height: 100%;
    background-color: rgb(64, 127, 143);
    position: relative;
}

/* .first_col{

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 5;
    background-color: var(--primary-40);
    padding: 0;
    overflow: hidden;

    word-wrap: break-word; 
} */

.palette{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1 / 5;
    background-color: var(--primary-40);
    padding: 0;
    overflow: hidden;

}
/* .first_col h2{
    width: 800px;
    height: 24px;
    display: inline;
    word-wrap: break-word; 
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
} */
.footer{
    width: 100%;
    margin: 24px 0;
    display: grid;
    grid-template-columns: repeat(3,252px);
    grid-auto-flow: column;
    grid-gap: 24px;
}

@media print { 
    /* All your print styles go here */
    .process{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 16px;
        box-sizing: border-box;
    }
    .palette{
        display: none;
    }
    .float_left{
        width: 0%;
        height: 0%;
        display:none;
        opacity: 0;
    }
}