.anchor{

    width: 100%;
    /* min-width: 248px; */
    max-width: 252px;
    height: 48px;
    padding: 12px 22px;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */
    border-radius: 12px;
/*     background-color: red; */
}
.anchor:hover{
    background: rgba(104, 71, 71, 0.3);
}
.anchor:active{
    background: rgba(100, 98, 252, 0.4);
}
.anchor a {
    display: grid;
    align-items: center;
    grid-gap: 6px;
    grid-auto-flow: column;
}
