.footer{
  width: calc(100% + 6.4rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--bg-dark-2);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 10rem;
  margin: 3.2rem -3.2rem -3.2rem -3.2rem;
}

.footer_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
  padding-inline-end: 3.8rem;
}

.footer_buttons > button{
  border: none;
  color: inherit;
  font-size: 1.4rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border-radius: 12px;
  cursor: pointer;
}

.cancel_button{
  background-color: var(--bg-card);
}

.cancel_button:hover{
  color: var(--txt-active);
}

.register_button{
  background-color: rgba(100, 98, 252, 0.4);
}

.register_button:hover{
  background-color: var(--primary);
  color: var(--txt-active);
}
