.sidebar{
    width: 300px;
    height: 100vh;
    background: rgba(37, 35, 46, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.header{

    width: 100%;
    padding: 36px 0;
    display: flex;
    justify-content: center;

    color: var(--txt-active);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.header svg{
    margin-right: .8rem;
}


.wrapper_nav{
    width: 100%;
    padding: 0 0 48px 0;

}

.wrapper_nav header{
    margin-left: 44px;
    margin-bottom: 24px;
}
.wrapper_nav nav{
    width: 100%;
    height: 100%;
}
.wrapper_nav nav ul{
    width: calc(100% - 48px);
    margin: auto;

    display: grid;
    grid-gap: 8px;
}
.wrapper_nav nav ul li{
    width: 100%;
    height: 48px;
}

.footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    background-color: #1C1C1C;

    position: fixed;
    bottom: 0;
    right: 0;
}