:root{
  --txt-active: #FAFAFC;
  --txt-unactive: #AAABB0;

  --bg-primary: #1A1A1C;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--bg-primary);
    color: var(--txt-unactive)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;   
}

