:root{
  --txt-active: #FAFAFC;
  --txt-unactive: #AAABB0;
  --bg-primary: #1A1A1C;
  --bg-2: #25232E;
  --bg-3: #313131 20%;
  --bg-3-form: #555459;
  --bg-card: #3A393E;
  --bg-dark-2: #313133;
  --primary: #6462FC;
  --primary-40: #6462FC, 40%;

  /* fonts */
  --fontBase: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* typography */
  --headline1: bold 28px / 33.89px var(--fontBase);
  --headline2: bold 24px / 29.05px var(--fontBase);
  --headline3: 20px / 24.2px var(--fontBase);
  --headline4: 16px / 19.36px var(--fontBase);
  --headline5: 18px / 21.78px var(--fontBase);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontBase);
  background-color: var(--bg-primary);
  color: var(--txt-unactive)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;   
}

ul{
  list-style: none;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--txt-unactive); 
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}