:root{
  --txt-active: #FAFAFC;
  --txt-unactive: #AAABB0;
  --bg-primary: #1A1A1C;
  --bg-2: #25232E;
  --bg-3: #31313131;
  --bg-3-form: #555459;
  --bg-card: #3A393E;
  --bg-dark-2: #313133;
  --primary: #6462FC;
  --primary-40: #6562fc83;

  /* fonts */
  --fontBase: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* typography */
  --headline1: bold 2.8rem / 3.3rem var(--fontBase);
  --headline2: bold 2.4rem / 2.9rem var(--fontBase);
  --headline3: 2.0rem / 2.4rem var(--fontBase);
  --headline4: 1.6rem / 1.9rem var(--fontBase);
  --headline5: 1.8rem / 2.1rem var(--fontBase);
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-family: var(--fontBase);
  background-color: var(--bg-primary);
  color: var(--txt-unactive)
}

html{
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;   
}
h2{
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
ul{
  list-style: none;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--txt-unactive); 
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

button{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  text-align: inherit;
  outline: none;
}
.main{
  width: 95%;
  margin: 0 auto ;
  height: 100%;
}
.main_container{
  width: 95%;
  margin: 0 auto ;
  padding: 3rem 0;
  height: 100%;
}
.title_section{
  margin: 5rem 0 0 4rem;
}
.subtitle_section{
  margin: 0;
}

.spiner{
width: calc(100vw - 600px);
position: absolute;
right: 0;

    height: 100vh;
    animation: spin 2s linear 2;
    

} 
.mermaid{
  width: 100%;
  height: calc(100% - 24px);

}   
.mermaid>svg{
  width: 100%;
  height: calc(100% - 24px);
}

@keyframes spin {
    0% {
      background-color: var(--bg-2);
        
    }
    100% {
        
      background-color: rgb(204, 203, 203);
  }
}