:root{
  --txt-active: #FAFAFC;
  --txt-desactive: #AAABB0;
  --bg-1: #1A1A1C;
  --bg-2: #25232E;
  --bg-3: #313131 20%;
  --bg-3-form: #555459;
  --bg-card: #3A393E;
  --bg-dark-2: #313133;
  --violeta: #6462FC;

  /* fonts */
  --fontBase: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* typography */
  --headline1: bold 28px / 33.89px var(--fontBase);
  --headline2: bold 24px / 29.05px var(--fontBase);
  --headline3: 20px / 24.2px var(--fontBase);
  --headline4: 16px / 19.36px var(--fontBase);
  --headline5: 18px / 21.78px var(--fontBase);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontBase);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;   
}
