.main{
    width: 100%;
    height: 100vh;
}


.tab_group{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    

}
.tab_panel{
    width: 100%;
    height: 100%;
}
.tab{
    /* h-12 px-12 transition-colors duration-150 */
    height: 6rem;
    padding: 0 1rem;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 150ms;
}

.tab_active{
    background-color: var(--primary);
    color: #fff;
}

.panel{
    /* p-16 transition-all transform h-64 */
    padding: 0.5rem 4rem;
    transition-property: all;
    transform-origin: center;

}
.panel_flex{
    flex: 1 1 auto;
    flex-direction: column;
}
.panel_active{
    width: 100%;
    height: 100%;
    /* opacity-100 duration-500 translate-x-0 */
    opacity: 1;
    --transform-translate-x: 0;
    transition-duration: 500ms;
}
.panel_inactive{
    /* absolute opacity-0 -translate-x-2 */
    position: absolute;
    opacity: 0;
    --transform-translate-x: -0.5rem;
}

